html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


* {
    box-sizing: border-box;
}

html,body {
  margin:0;
  padding:0;
}

/* Bagian Safira */
header {
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.containerheader {
  max-width:1170px;
  width: 100%;
  margin:auto;
}
.logokita {
  width: 124px;
  margin-top: 6px;
}

.header-left {
  float: left;
}

.header-right {
    float: right;
    background-color: rgba(34, 49, 52, 0);
    transition: all 0.5s;
}

.tombolheaderlogin {
    background-color: rgba(34, 49, 52, 0.3);
}

.header-right a {
  color: white;
  padding-left:25px;
  padding-right: 25px;
  line-height: 65px;
  display: inline-block;
  font-family: "Montserrat";
  font-size: 10px;
}

.tombolheader:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.tombolheaderlogin:hover{
    background-color: rgba(255, 255, 255, 0.5);
}


/* Nyoba header responsif di hp*/
.menu-icon{
    display: none;
}
/* Nyoba header responsif di hp selesai*/

/* Bagian Safira selesai */


/* Bagian Footer Riky */

footer{
  margin-top:30px;
  width:100%;
  background-color:#00A6B6;
  height: 300px;
  color:white;
  background-size: cover;
}

footer li{
  float:right;
  padding: 20px;
}

.footer-left{
  float:left;
  padding:20px;
  border:2px;  
}

.footer-right{
  float: right;
  padding:20px;
}

.footer-right a{
  text-decoration:none;
  color:white;
}

.footer-right a:hover{
  color:blue;
}

.footer-center{
  text-align: center;
  padding-top:150px;
}

.footer-bottom{
  margin-top:20px;
  font-weight:bolder;
}

.balon a{
  margin-right: 20px;
  text-decoration: none;
  color:white;
  transition: width 2s;
}

.balon a:hover{
  color:blue;
}

.balon {
  position:relative;
}

.balon a:active{
  position:absolute;
  transform:scale(1.5);
}