* {
    box-sizing: border-box;
}

/* Bagian Safira */
.header {
  background-color: rgba(34, 49, 52, 0.9);
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.containerheader {
  width:1170px;
  margin:auto;
}
.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right a {
  color: white;
  padding-left:25px;
  padding-right: 25px;
  line-height: 65px;
  display: block;
}
.tombolheader:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
/* Bagian Safira selesai */
